# QA Results

> Source: https://www.cpaireland.ie
> Site: CPA Ireland
> Scraped: 2026-04-16

- Quality Assurance Results 2023
- Quality Assurance Results 2022
- Quality Assurance Results 2021
- Quality Assurance Results 2020
- Quality Assurance Results 2019
- Quality Assurance Results 2018
- Quality Assurance Results 2017
- Quality Assurance Results 2016
- Quality Assurance Results 2015
- Quality Assurance Results 2014
